<script>

    function render(data) {
        var contributors = [];
        if (data != null) {
            contributors = data.data || [];
        }

        var size = 200;
        var ui = '';
        var row;

        for (var i in contributors) {
            var contributor = contributors[i];
            var avatarUrl = contributor.avatar_url + 's=' + size;
            var htmlUrl = contributor.html_url;
            var login = contributor.login;

            if (i % 6 == 0) {
                row = $('<div class="row"></div>');
                $('#contributors').append(row);
            }

            var cell = $('<div class="col-md-2"></div>');
            var cellLink = $('<a/>');
            cellLink.attr('href', htmlUrl);
            cell.append(cellLink);

            var cellImage = $('<img/>');
            cellImage.css('max-width', size + 'px');
            cellImage.css('max-height', size + 'px');
            cellImage.attr('width', '100%');
            cellImage.attr('title', login);
            cellImage.attr('src', avatarUrl);
            cellLink.append(cellImage);

            row.append(cell);
        }

        $('#ccount').text(contributors.length);
    }

</script>

<div class="description">Project contributors: <span id="ccount">...</span></div>
<div id="contributors"></div>

<script src="https://api.github.com/repos/vbauer/android-arsenal.com/contributors?per_page=1000&callback=render"></script>
