<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="A categorised directory of libraries and tools for Android">
    <meta name="author" content="Vladislav Bauer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Android Arsenal</title>
    <link href="favicon.png" rel="shortcut icon">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51105662-1', 'android-arsenal.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>    
</head>

<body>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">The Android Arsenal <span class="badge"><%= @pcount %></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://github.com/vbauer/android-arsenal.com" title="Library suggestions can be submitted" class="suggest">Suggest project</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>
    
    <div class="navbar-<%='fixed-' if !@categories%>bottom row-fluid footer">
        <div class="navbar-inner">
            <div class="container">
                <p>Developed by <a href="https://github.com/vbauer">Vladislav Bauer</a> ©2014</p>
            </div>
        </div>
    </div>
    
</body>

</html>
